.MenuItem {

}

.MenuButton {
    background: transparent;
        color: white;
        border: 1px solid gray;
       color: white;
       padding: 8px 30px;


}

.MenuButton:hover,
.MenuButton:active,
.MenuButton.active
.MenuButton:focus{
   background : gray;
}

