.GalleryPage{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    height: 100vh;
    overflow: hidden;
}

.GalleryPageBack{
    height: 100vh;
    width: 50%;
}

.GalleryPageBack img {
    height: 100%;
    width: 95%;
}

.GalleryPageSlider{

    background: black;
    /* width: 40%; */
    margin: 0px auto;
    overflow: hidden;
    /* width: 480px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.GalleryPageSlider h1 {
    color: white;
    text-align: center;
    font-size: 54px;
    font-weight: 200;
    opacity: 0.8;
    text-transform: uppercase;
}


.GalleryPageSlider img {
    width: 360px;
    height: 320px;


}

.GalleryPageSlider .gallery-slider-wrapper {
     display: flex;
    flex-direction: row;
}

@media (max-width: 1320px) {

    .GalleryPageSlider h1 {
        font-size: 50px;
    }
}
@media (max-width: 1200px) {

    .GalleryPageSlider h1 {
        font-size: 45px;
    }
}
@media (max-width: 992px) {

    .GalleryPageSlider h1 {
        font-size: 40px;
    }
}
@media (max-width: 768px) {
.GalleryPage{
    flex-direction: column;

}

    .GalleryPageBack{
        width: 100%;
        height: 300px;
    }


    .GalleryPageBack img {
        width: 100%;
        /*height: 100wh;*/
        height: 300px;
    }

    .GalleryPageSlider h1 {
        font-size: 36px;
    }
}
@media (max-width: 600px) {
    .GalleryPageSlider h1 {
        font-size: 32px;
    }
}

