.MenuPage{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    height: 100vh;
    overflow: hidden;
}

.MenuPageBack{
    height: 100vh;
    width: 50%;
}

.MenuPageBack img {
    height: 100%;
    width: 95%;
}

.MenuPageList{
    background: black;
    width: 40%;
    margin: 200px auto;

}

.MenuPageList h1 {
    color: white;
    text-align: center;
    font-size: 54px;
    font-weight: 200;
    opacity: 0.8;
    text-transform: uppercase;
}